<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />    
    <title>Dashboard</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation_dashboard %>
    <h1 class="text-center ">Dashboard</h1>

    <h4>Bienvenido <%= user.charAt(0).toUpperCase() + user.slice(1) %></h4>
  </body>
</html>