<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mande</title>
    <% include partials/head %>
  </head>
  <body>

    <!-- HEADER -->
    <% include partials/navigation %>

    <!-- MAIN CONTENT -->
    <div class="img-header">
      <div class="welcome">
        <img src="/img/mandeFondo.png" width="493" height="300" class="animated zoomInRight" alt="">
        <hr class="animated zoomInRight">
     
      </div>       
     </div>

    <!-- section one -->
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
          <i class="fas fa-hand-point-right fa-10x"></i>  
        </div>
        <div class="col-sm-6">
          <h3>¿Quiénes somos?</h3>
          <p>
            <span>Mande, es un emprendimiento que permite, desde el celular, conseguir personas trabajadoras, expertas y honestas para realizar a domicilio labores del día a día el hogar.</span>
          </p>
        </div>
      </div>
    </div>
     

    <!-- section two -->
    <div class="container-fluid" id="explicacion">
      <div class="row bg-info text-white p-5 text-center">
        <div class="col-sm-6">
          <h3>¿Cómo usarlo?</h3>
          <p>
            <span>A continuación te explicamos como usar Mande:</span>
            <li>Crea una cuenta en registrarse</li>
            <li>Inicia sesión con la cuenta que creaste</li>
            <li>Busca la labor que necesitas</li>
            <li>Escoge el trabajador que deseas</li>
            <li>Realiza el pago después de recibir el servicio</li>
          </p>
        </div>
        <div class="col-sm-6">
          <i class="fa fa-info-circle fa-10x"></i>  
        </div>
      </div>
      <div class="about-gallery">
        <img src="/img/cartoon-plumber.jpg" alt="">
        <img src="/img/paseador-de-perros.jpg" alt="">
        <img src="/img/profesor-de-inglés.jpg" alt="">
    </div>

    <!-- comentarios de usuarios -->
   <section class="testimonios">
    <section class="our-projects">
       <div class="skew-arriba"></div>
    <div class="deg-background"></div>
    
    <div class="ejeZproject">
       <div class="container-project">
         <div class="project-title">
           <h2>Experiencias</h2>
           <hr>
         </div>
          <div class="box-testimonio">
       <div class="card-testimonio">
         <div class="card-img"><img src="/img/M-user1.jpg" alt=""></div>
         <div class="testimonio-text">
         <h4>Marck</h4>
         <p>"Antes tenía que esperar al trabajador por muchas horas, pero gracias a mande puedo saber en que momento viene "</p>
         </div>
       
       
       </div>
 
       <div class="card-testimonio">
           <div class="card-img"><img src="/img/M-user2.jpg" alt=""></div>
           <div class="testimonio-text">
           <h4>Michael</h4>
           <p>"No tengo tiempo para realizar muchas tareas de mi casa, tenia mucho desorden y daños, gracias a mande puedo mantener al día mi casa"</p>
           </div>
         </div>
 
         <div class="card-testimonio">
             <div class="card-img"><img src="/img/M-user3.jpg" alt=""></div>
             <div class="testimonio-text">
             <h4>Juan</h4>
             <p>"Estoy feliz de contar con una aplicación tan práctica, muchos de mis problemas han sido resuelto gracias a los excelentes trabajadores de mande"</p>
             </div>
           </div>
 
           <div class="card-testimonio">
               <div class="card-img"><img src="/img/M-user4.jpg" alt=""></div>
               <div class="testimonio-text">
               <h4>Elom</h4>
               <p>"Algo que amo de mande es que puedo saber quien es el trabajador y cuanto cobra por sus servicios, gracias a esto puedo dejar entrar con seguridad al trabajador y puedo pagar un módico costo"</p>
               </div>
             </div>
 
      </div>
       </div>
       <h7>⠀</h7>
    </section>
    </section>
   

    <!-- FOOTER -->
    <% include partials/footer %>
  </body>
</html>
