<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container p-2">
    <a class="navbar-brand" href="/">MANDE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fas fa-building"></i> Acerca de</a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link" >Iniciar Sesión</a>
          <div class="dropdown-content bg-dark">
            <a class="nav-link" href="/login">Usuario</a>
            <a class="nav-link" href="/loginTrabajador">Trabajador</a>
          </div>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link"> Registrarse</a>
          <div class="dropdown-content bg-dark">
            <a class="nav-link" href="/registro">Usuario</a>
            <a class="nav-link" href="/registroTrabajador">Trabajdor</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
